---
import Form from "./Form.astro";
---

<main
  class="bg-w p-t-24 p-r-24 p-b-24 p-l-64 flex border-r-36 box-shadow w-100"
>
  <section class="w-100">
    <h1 class="color-d-n font-s-56 bold font-lh-100">Stay updated!</h1>
    <p class="m-t-24 color-d-n font-s-16 font-lh-150">
      Join 60,000+ product managers receiving monthly updates on:
    </p>
    <ul class="m-t-24 flex flex-d-c gap-10">
      <li class="flex align-c">
        <img src="/src/assets/images/icon-list.svg" alt="" />
        <p class="color-d-n font-s-16 font-lh-150">
          Product discovery and building what matters
        </p>
      </li>
      <li class="flex align-c">
        <img src="/src/assets/images/icon-list.svg" alt="" />
        <p class="color-d-n font-s-16 font-lh-150">
          Measuring to ensure updates are a success
        </p>
      </li>
      <li class="flex align-c">
        <img src="/src/assets/images/icon-list.svg" alt="icon-list" />
        <p class="color-d-n font-s-16 font-lh-150">And much more!</p>
      </li>
    </ul>
    <Form />
  </section>
  <section class="w-100"></section>
</main>

<style>
  /* Desktop */
  main {
    max-width: 928px;
    gap: 64px;
  }

  li {
    gap: 16px;
  }

  section:nth-of-type(1) {
    margin-top: 73px;
  }

  section:nth-of-type(2) {
    background-image: url("/src/assets/images/illustration-sign-up-desktop.svg");
  }

  /* Mobile */

  @media (max-width: 58rem) {
    main {
      outline: 2px solid red;
      height: 100vh;
      border-radius: 0px;
      flex-direction: column;
      padding-top: 0px;
      padding-left: 0px;
      padding-right: 0px;
      padding-bottom: 40px;
      gap: 40px;
      overflow: auto;
    }

    section:nth-of-type(1) {
      order: 2;
      margin-top: 0px;
      padding: 0px 24px 0px 24px;
    }

    section:nth-of-type(2) {
      order: 1;
      background-image: url("/src/assets/images/illustration-sign-up-mobile.svg");
      background-size: cover; /* Ensures the image covers the entire element */
      background-repeat: no-repeat; /* Prevents the image from repeating */
      min-height: 33%;
      max-height: 284px;
      height: 284px;
      border-radius: 0px 0px 16px 16px;
    }

    h1 {
      font-size: 4rem;
    }
  }
</style>
